.schulen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 2rem 0;
}
.schulen-title {
  font-size: 2rem;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
}
.schulen-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 60%;
  gap: 1rem;
  flex-wrap: wrap;
}
.schule-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 8rem;
  width: auto;
}
.schule {
  height: 80%;
  width: auto;
}
.teams-link {
  font-size: 1rem;
  text-decoration: none;
  background-color: white;
  border: none;
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: fit-content;
  gap: 0.5rem;
  color: #5059c9;
  cursor: pointer;
  padding: 1rem;
}
.teams-link > svg {
  height: 2rem;
  width: 2rem;
}
@media screen and (max-width: 855px) {
  .schulen-list {
    width: 90%;
  }
}
