.schulen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 2rem 0;
}
.schulen-title {
  font-size: 2rem;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
}
#google-map {
  width: 700px;
  height: 500px;
  border: 1px solid #ccc;
  align-self: center;
  margin: 0 auto;
  max-width: 700px;
}
.map-info-top {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  justify-content: start;
}
.map-info-top > img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.map-info-top > h3 {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
}
.map-info-window > p {
  font-size: 0.75rem;
}
.teams-link {
  font-size: 1rem;
  text-decoration: none;
  background-color: white;
  border: none;
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: fit-content;
  gap: 0.5rem;
  color: #5059c9;
  cursor: pointer;
  padding: 1rem;
}
.teams-link > svg {
  height: 2rem;
  width: 2rem;
}
@media (max-width: 700px) {
  #google-map {
    width: 90%;
    aspect-ratio: 7/5;
  }
}
