#gallery {
  display: flex;
  flex-direction: column;
}
.gallery-title {
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 40px;
}
.gallery-contents {
  width: 80%;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
}
.gallery-item {
  height: 200px;
  background-color: transparent;
  aspect-ratio: 3/1;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gallery-link {
  width: 80%;
  aspect-ratio: 3/1;
  background: linear-gradient(117.14deg, #0265b1 42.25%, #7b358c 72%);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-position: center;
}
.gallery-item-title {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
  color: white;
  text-decoration: none;
  backdrop-filter: blur(5px);
  padding: 20px;
}
