#gallery {
  display: flex;
  flex-direction: column;
}
section#gallery {
  background-color: #f1f1f1;
  margin-top: 70px;
  padding-top: 20px;
}
.gallery-title {
  text-align: center;
  font-weight: bold;
  font-size: 34px;
  margin: 40px 0 0 0;
}
.gallery-contents {
  width: 80%;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
}
.gallery-item {
  background-color: transparent;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 33.33%;
  max-width: 33.33%;
  margin: 30px 0;
  padding: 0 20px;
  box-sizing: border-box;
}
.gallery-link {
  background: #fff;
  border-radius: 0;
  display: block;
  text-decoration: none;
  background-position: center;
  width: 100%;
  border: 2px dashed #cecdcf;
}
.gallery-item-title {
  font-size: 20px;
  margin: auto;
  color: #000;
  text-decoration: none;
  padding: 20px;
  text-align: center;
}
@media (max-width: 700px) {
  .gallery-item {
    width: 75%;
    aspect-ratio: unset;
  }
  .gallery-link {
    width: 100%;
    aspect-ratio: unset;
  }
  .gallery-item-title {
    backdrop-filter: unset;
  }
}

a.gallery-link {
  transition: all 0.3s ease-out;
}

a.gallery-link:hover {
  background-color: #7b358c;
}

a.gallery-link:hover .gallery-item-title {
  color: #fff;
}
